  <div style="color:<%= "#FFF" if (params[:controller] == "users" && params[:action] == "new")%>;">
  <%= render :partial => 'form' %>
  <% if @user.errors.any? %>
   <div class="notice" style="color:#373736">
    <p>DO IT PROPERLY YOU BASTARD!</p>
    <ol>
      <% @user.errors.full_messages.each do |msg| %>
        <li>
          <%= msg %>
        </li>
      <% end %>
    </ol>
   <% end %>
   </div>
   <%== login  %>
   </div>

