@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,300);
@import url(http://fonts.googleapis.com/css?family=Lobster);

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  margin:0;
  background-size:cover;
  background-position:0;
  background-attachment: fixed;
  color:#373736;
  height:100%;
}

.container {
  margin-bottom:-40px;
  padding-bottom:50px;
}

header {
  text-align:center;
  position:fixed;
  margin:0;
  width:100%;
  border-top:5px solid #77C299;
}

header h1 {
    display:inline-block;
    width:300px;
}

.right {
  display:inline-block;
  width:400px;
  position:absolute;
  top:30px;
  right:20px;
}

.left {
  display:inline-block;
  width:400px;
  position:absolute;
  left:30px;
  top:40px;
}

nav ul {
  padding:0;

}

nav li {
  list-style:none;
  display:inline-block;
  margin:10px;
}

a {
  text-decoration:none;
  color:#373736;
}

nav img {
  vertical-align:middle;
  padding-right:10px;
}

.nav_right {
  text-align:right;
}

h1,h2,h3,h4 {
  font-family: 'Lobster', cursive;
}

h1 {
  font-size:3em;
}

.user img {
  width: 300px;
  border-radius:100%;
}

.user {
  padding-top:20px;
  text-align:center;
  display:inline-block;
  width:500px;
}

.info {
  display: block;
  vertical-align: top;
}

.info br {
  display:inline-block;
}

.info ul {
  text-align:center;
  padding:0;
}
.info li {
  list-style:none;
  position:relative;
  padding:10px;
  text-align:left;
}

.icon {
  width:30px;
}


form {
  width:240px;
  margin:0 auto;
}

input[type="submit"] {
  border:4px solid #77C299;
  color: #77C299;
  min-width:240px;
  text-align:center;
  background-color:rgba(0,0,0,0);
  margin-top:20px;
}

input {
  background: #FFF;
  padding:10px 20px;
  border: 1px solid #ccc;
  border-radius:5px;
  font-family:inherit;
  font-size:inherit;
  font-weight:inherit;
  display:block;
  margin:10px auto;
}

input[value="Login"] {
  width:240px;
  margin-top: 30px;
}

.button {
  border:4px solid #77C299;
  padding:10px 20px;
  color: #77C299;
  min-width:100px;
  border-radius:5px;
  text-align:center;
  margin:20px auto;
}

.edit, .edit a {
  display:inline-block;
}

.edit {
  padding:5px;
  border:1px solid;
  margin:0;
  position:absolute;
  right:0;
}

.users {
  margin: 0 auto;
  text-align:center;
}
.users img {
  width:200px;
  border-radius:100%;
}

.button a {
  text-decoration: none;
  color:inherit;
}

.locations {
  width:300px;
  margin:50px auto;
  list-style:none;
}

.avatar {
  border-radius:100%;
}

.content {
  width:80%;
  margin:0 auto;
  padding-top:150px;
  text-align:center;
}

.notice {
  width:400px;
  padding:30px 80px;
  color:#FFF;
  margin:0 auto;
  text-align:center;
}

.grid {
  width:300px;
  display:inline-block;
  vertical-align:top;
  text-align:center;
}

.left {
  margin:0;
  max-width:250px;
}

footer {
  padding:10px;
  text-align:right;
  /*position:absolute;*/
  bottom:0px;
  right:20px;
  width:100%;
  height:40px;
  box-sizing:border-box;
}

aside {
  width:200px;
  display:inline-block;
  vertical-align:top;
  margin-left:100px;
  float:right;
}

li {
  list-style:none;
}

.results {
  margin-top: 50px;
}

.bubble {
  border: 4px solid #77C299;
  text-align:center;
  margin:10px auto;
  position:relative;
  color:#FFF;
}

.no1 {
  width: 200px;
  height: 200px;
  border-radius: 100% 100% 0 100%;
  left:-85px;
  position:relative;
  font-size:3em;
  background:url(/assets/ocean.jpg)0px 0px;
}

.no2 {
  width: 150px;
  height: 150px;
  border-radius: 100% 0 100% 100%;
  display:inline-block;
  font-size:2em;
  background:url(/assets/ocean.jpg)0px 200px;
}

.no3 {
  width: 100px;
  height: 100px;
  border-radius: 0 100% 100% 100%;
  display:inline-block;
  margin-left:10px;
  font-size:1em;
  vertical-align:top;
  background:url(/assets/ocean.jpg)100px 200px;
}

.bubble h3 {
  font-family: 'Roboto', sans-serif;
  font-weight:100;
  left:30px;
  word-wrap:break-word;
  margin:0;
  line-height:1em;
}

.no1 h3 {
  top:0;
}

.no2 h3 {
  top:20px;
}

.no3 h3 {
  top:15px;
}